---

- name: load crypt profile vars
  include_vars:
    file: "crypt_profiles/{{partitioning_crypt_profile}}.yml"
    name: _partitioning_crypt_profile

- name: set crypt profile vars
  set_fact:
    dmcrypt_devices: "{{_partitioning_crypt_profile.dmcrypt_devices}}"
    data_device: "{{_partitioning_crypt_profile.data_device}}"
    debian_boot_packages: "{{ debian_boot_packages | union(_partitioning_crypt_profile.debian_boot_packages) }}"
