---

- include: scan.yml
  when:
    ssh_host_key_state is defined and
    ssh_host_key_state == 'scanned'

- include: setup.yml
  when:
    ssh_host_key_state is defined and
    ssh_host_key_state == 'setup'

- include: fetch.yml
  when:
    root_target_directory is defined and (
    not ssh_host_key_state is defined or
    ssh_host_key_state == 'fetched' )

- include: save.yml

- name: write ssh_known_hosts file
  local_action: known_hosts
  args:
    path: "{{ playbook_dir }}/ssh_known_hosts"
    name: '{{ inventory_hostname }}'
    key: "{{ inventory_hostname }},{{ ansible_host }} {{ _ssh_key_type[ssh_host_key_type] }} {{ _ssh_host_key[ssh_host_key_type] }}"
  when:
    not ssh_host_key_state is defined or
    ssh_host_key_state == 'configured' or
    ssh_host_key_state == 'scanned'
