---

- include: regenerate.yml
  when: ssh_host_key_state == 'regenerated'

- include: scan.yml
  when: ssh_host_key_state == 'scanned'

- include: setup.yml
  when:
    ssh_host_key_state == 'configured'

- include: fetch.yml
  when:
    ssh_host_key_state == 'fetched' or
    ssh_host_key_state == 'regenerated'

- include: save.yml
  when:
    ssh_host_key_state == 'configured' or
    ssh_host_key_state == 'scanned' or
    ssh_host_key_state == 'regenerated' or
    ssh_host_key_state == 'saved'
