---

- setup:
    gather_subset: '!all'

- include: debian.yml
  when: ansible_os_family == "Debian"
  
- include: gentoo.yml
  when: ansible_os_family == "Gentoo"

#- name: debootstrap download
#  command:
#    debootstrap
#    --download-only
#    --make-tarball={{debootstrap_tarball}}
#    {{debootstrap_args}}
#    {{debootstrap_suite}}
#    {{debootstrap_download_directory}}
#    {{debian_mirror}}
#  args:
#    creates: "{{debootstrap_tarball}}"

- name: debootstrap
  command:
    debootstrap
    {{debootstrap_args}}
    {{debootstrap_suite}}
    {{root_target_directory}}
    {{debian_mirror}}
