---

- name: install btrfs-tools
  apt:
    pkg: btrfs-tools
    state: installed
  when: ansible_os_family=="Debian"

- name: unmount filesystems
  mount:
    name: "{{ root_target_directory | default('') }}/{{ item.mount_point }}"
    state: unmounted
  with_items: "{{ filesystems[::-1] }}"
  when:
    filesystems_state == "unmounted" or
    filesystems_state == "formated"

- name: filesystems
  filesystem:
    fstype: "{{ item.fstype }}"
    dev: "{{ item.device }}"
    opts: -U {{ item.uuid }}
    force: "{{ filesystems_state == 'formated' }}"
  with_items: "{{ filesystems }}"
  when:
    item.device is defined and (
    filesystems_state == "mounted" or
    filesystems_state == "formated" )

- name: mount filesystems
  mount:
    name: "{{ root_target_directory  | default('') }}{{ root_target_directory is defined | ternary('/','') }}{{ item.mount_point }}"
    src: "UUID={{ item.uuid }}"
    fstype: "{{ item.fstype }}"
    opts: '{{ item.mount_options | default("defaults") }}'
    state: mounted
  with_items: "{{ filesystems }}"
  when:
    filesystems_state == "mounted" or
    filesystems_state == "formated"
