---

- name: scan ssh host
  local_action: command ssh-keyscan -t ed25519 {{ssh_host}}
  register: _ssh_keyscan_result
  changed_when: false

#- name: _ssh_keyscan_result
#  debug:
#    msg: "{{ _ssh_keyscan_result  }}"

- name: set ssh_host_key_ed25519_public
  set_fact:
    ssh_host_key_ed25519_public: "{{ _ssh_keyscan_result.stdout.split()[2] }}"
  changed_when: ssh_host_key_ed25519_public != _ssh_keyscan_result.stdout.split()[2]
