# ~/.bashrc: executed by bash(1) for non-login shells.

{{ ansible_managed | comment }}

{% for alias in root_user_aliases %}
alias {{alias.name}}="{{alias.command}}"
{% endfor %}

HISTFILE=/root/.history
shopt -s histappend # append to history, don't overwrite it
export PROMPT_COMMAND="history -a; history -c; history -r; $PROMPT_COMMAND"
