[
{% if netifs is defined %}
{% for netif in netifs %}
{% if netifs[netif].type == "ethernet" or ( netifs[netif].type == "virt" and virt_type=="qemu" )  %}
"{{netif}}",
{% endif %}
{% endfor %}
{% endif %}
]
