{% set disk = item.0 %}
{% set part = item.1 %}
mkpart
{% if disk.label_type == "msdos" %}
"{{ part.part_type }}"
{% endif %}
{% if disk.label_type == "gpt" %}
"{{ part.name }}"
{% endif %}
{% if part.fs_type is defined %}
"{{ part.fs_type }}"
{% endif %}
"{{ part.start }}"
"{{ part.end }}"

{#
{% if part.flags is defined %}
{% set outer_loop = loop %}
{% for flag in part.flags %}
set {{ outer_loop.index }} {{ flag }} on
{% endfor %}
{% endif %}
#}
