{% for md in mdraid_devices %}
- devices:
{% if md.devices is string  %}
{% for blk in blkid.stdout_lines %}
{% if md.devices in blk %}
    - {{ blk.split(":")[0] }}
{% endif %}
{% endfor %}
{% else %}
{% for device in md.devices %}
    - {{ device }}
{% endfor %}
{% endif %}
{% for key,val in md.iteritems() %}
{% if key != "devices" %}
  {{ key }}: {{ val | to_json }}
{% endif %}
{% endfor %}
{% endfor %}
