{% if hostvars[item].ssh_ip is defined %}
{{ item }},{{ hostvars[item].ssh_ip }} ssh-ed25519 {{ hostvars[item].ssh_host_key_ed25519_public }}
{% else %}
{{ item }} ssh-ed25519 {{ hostvars[item].ssh_host_key_ed25519_public }}
{% endif %}
